@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply font-poppins;
}

.hamburger-btn {
  display: flex;
  height: 24px;
  width: 30px;
  flex-direction: column;
  justify-content: space-between;
  position: relative; 
}
.hamburger-inner {
  height: 4px;
  width: 100%;
  transition: all 0.25s ease-in-out;
}
.hamburger-btn.expanded .hamburger-inner{
  position: absolute;
  top: 10px;
}

.nav-responsive {
  width: calc(100% - 2 * 1.25rem)
}

.cards-container{
  position: relative;
}
.cards-container::after{
  content: '';
  display: block;
  width: 10px;
  height: 90%;
  position: absolute;
  background-color: hsl(180, 66%, 49%);
  z-index: 1;
  left: calc(50% - 5px);
}

.svg-image:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(96%) saturate(6604%) hue-rotate(125deg) brightness(86%) contrast(86%);
}

@media (min-width: 1024px) {
  .cards-container::after{
    top: 40%;
    left: 0;
    width: 90%;
    height: 10px;
  }
}
